<div class="container mt-auto">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">
        <%= Time.now.year %> LinkSnipr, Inc &copy
      </span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://github.com/Vladimire87" target="_blank">
          <i class="bi bi-github" style="height: 30px"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
