<div class="container col-md-12 col-lg-8">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
    <div class="col-md-3 mb-2 mb-md-0">
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    </ul>
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-danger me-2" disabled>Login</button>
      <button type="button" class="btn btn-danger" disabled>Sign-up</button>
    </div>
  </header>
</div>
<div class="w-100h d-flex justify-content-center b-g-red">
  <%= link_to root_path do %>
    <%= image_tag 'LinkSNIPR-logos.jpg', style: "max-height: 200px" %>
  <% end %>
</div>
