<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('<%= asset_path('img_1.jpg') %>');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">URL Shortener</h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('<%= asset_path('img_2.jpg') %>');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Compatible with smartphones, and desktop</h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('<%= asset_path('img_3.jpg') %>');">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">QR codes</h3>
      </div>
    </div>
  </div>
</div>
