<div class="row col-md-6 mx-auto my-4">
  <div class="card">
    <div class="card-body">
      <input class="form-control-plaintext" type="text" name="snipr" value="<%= "http://localhost:3000/" + @link.snipr %>">
      <a class="btn btn-primary btn-lg " href="#" role="button">Copy</a>
    </div>
  </div>
</div>
